doctype html
html
  head
    meta(charset="UTF-8")
    title= pageTitle
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    //- link(href="app.css" rel="stylesheet" type="text/css")
    script(src="public/vendor.bundle.js")

  body
    main
    script(src="public/app.bundle.js")
