doctype html
html
  head
    title= pageTitle
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    link(href="/app.css" rel="stylesheet" type="text/css")

  body
    h1 Hello there
    main
    script(src="app.bundle.js")
